<app-header></app-header>
<div class="container mt-5">
  <div class="row">
      <div class="col-12">
          <h2 class="mb-4">Gestión de Solicitudes de Dominio</h2>

          <!-- Filtros -->
          <div class="d-flex justify-content-between mb-3">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRequestModal">
                  <i class="bi bi-plus-lg"></i> Nueva Solicitud
              </button>
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar dominio" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>

          <!-- Tabla de solicitudes -->
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre Usuario</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                @for(user of users; track user.id ) {
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    @if(user.isApproved == 0){
                      <td><span class="badge bg-danger">Rechazado</span></td>
                    }@else if (user.isApproved == 1) {
                      <td><span class="badge bg-warning text-dark">Pendiente</span></td>
                    }@else if (user.isApproved == 2) {
                      <td><span class="badge bg-success">Aprobado</span></td>
                    }

                    <td>
                        <button class="btn btn-sm btn-info me-2" (click)="selectUser(user)" data-bs-toggle="modal" data-bs-target="#viewRequestModal" data-id="001">Ver</button>
                        <button class="btn btn-sm btn-success me-2" data-id="001" (click)="isApproved(user)" >Aprobar</button>
                        <button class="btn btn-sm btn-danger" data-id="001" (click)="isRefused(user)">Rechazar</button>

                    </td>
                </tr>
                } @empty {
                  <h3> No se encontro nada</h3>
                }

                  <!-- Agrega más filas según sea necesario -->
              </tbody>
          </table>
      </div>
  </div>
</div>
<app-modal-user [id]=selectedUser.id [name]=selectedUser.name [email]=selectedUser.email [password]=selectedUser.password></app-modal-user>
<!-- Modal para agregar nueva solicitud -->
<div class="modal fade" id="addRequestModal" tabindex="-1" aria-labelledby="addRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addRequestModalLabel">Nueva Solicitud de Dominio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="u">
                  <div class="mb-3">
                      <label for="companyName" class="form-label">Nombre del usuario</label>
                      <input type="text" class="form-control" id="companyName" placeholder="Nombre de la Empresa" formControlName="name">
                  </div>
                  <div class="mb-3">
                      <label for="domainRequested" class="form-label">Email</label>
                      <input type="text" class="form-control" id="domainRequested" placeholder="ejemplo.com" formControlName="email">
                  </div>
                  <div class="mb-3">
                      <label for="requestNotes" class="form-label">Password</label>
                      <textarea class="form-control" id="requestNotes" rows="3" placeholder="Notas adicionales" formControlName="password"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="crearUsuario()">Enviar Solicitud</button>
              </form>
          </div>
      </div>
  </div>
</div>


