<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="col-lg-5 col-md-7 col-sm-9">
      <h2 class="text-center mb-4">Registro</h2>
      <form>
          <div class="mb-3">
              <label for="nombre" class="form-label">Nombre Completo</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre Completo" required>
          </div>
          <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="usuario@correos.com" required>
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
          </div>
          <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>
      <div class="mt-4 text-center">
          <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
      </div>
  </div>
</div>

